html, body {
  margin: 0;
  padding: 0;
}
.full .fullimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  text-decoration: none;
}
.full .fullimg.img01 {
  background-image: url(../img/front_page_001.jpg);
}
.full .fullimg.img02 {
  background-image: url(../img/front_page_002.jpg);
}
.full .fullimg.img03 {
  background-image: url(../img/front_page_003.jpg);
}
.full .fullimg.img04 {
  background-image: url(../img/front_page_004.jpg);
}
.full .fullimg.img05 {
  background-image: url(../img/front_page_005.jpg);
}
.full .fullimg.img06 {
  background-image: url(../img/front_page_006.jpg);
}
.full .fullimg.img07 {
  background-image: url(../img/front_page_007.jpg);
}
.full .fullimg.img08 {
  background-image: url(../img/front_page_008.jpg);
}
.full .fullimg.img09 {
  background-image: url(../img/front_page_009.jpg);
}
.full .slick-dots {
	bottom: 4%;
	z-index: +1;
}

.home {
  width: 100%;
  /* height: 100vh; */
  position: relative;
  background-image: url();
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -999;
}
.bg img {
/*   width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center; */
  min-height: 100%;
/*   min-width: 1000px; */
  width: 100%;
/*   -webkit-filter: blur(1px); */
}

.open-link {
  position: fixed;
  width: 100px;
  right: 10px;
  bottom: 8%;
  z-index: 999;
}
.open-link a {
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  margin-bottom: 10px;
  display: inline-block;
}
.open-link a .link-yt {
  color: #CC0000;
}
.open-link a .link-yt:hover {
  opacity: 0.8;
}
.open-link a .link-lang {
  color: #000000;
}
.open-link a .link-lang:hover {
  opacity: 0.8;
}
footer {
  background-color: #fff;
  color: #2C363A;
  padding: 15px;
}

.home a {
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  /* font-size: 24px; */
  text-transform: uppercase;
  text-decoration: none;
  /* position: absolute; */
  z-index: 10;
  /* top: 50px;
  left: 50px; */
  padding-bottom: 3px;
  position: fixed;
  top: 35%;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  img.bg {
    left: 50%;
    margin-left: -500px;
  }
}